

body {
  margin: 0;
  background: transparent;
}

.video-overlay {
  background-image: linear-gradient(rgba(43,43,43,0.8),rgba(43,43,43,0.8));
  background-image: -webkit-linear-gradient(rgba(43,43,43,0.8),rgba(43,43,43,0.8));
  width: 100%;
  height: 100%;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

.logo {
  display: block;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  background: url(/img/logo.svg) center center;
  background-repeat: no-repeat;
  position:absolute;
}

// #videobcg {
//      position: fixed;
//      top: 0px;
//      left: 0px;
//      min-width: 100%;
//      min-height: 100%;
//      width: auto;
//      height: auto;
//      z-index: -1000;
//      overflow: hidden;
//      background-size: cover;
// }
//
// @media screen and (max-width: 500px) {
//   div{width:70%;}
// }
// @media screen and (max-device-width: 800px) {
//   html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
//   #bgvid { display: none; }
// }
