---
title: Tyler Courtenay
---



  <div class="top-hero">
    <div class="row">
      <div class="large-12 large-centered columns">
        <div class="hero-img"><img src="css/img/hero-logo.png"></div>
      </div>
    </div>
  </div>

  <div class="about-me">

    <div class="row">

      <div class="large-12 large-centered columns">
        <h1>This is the portfolio of Tyler Courtenay.</h1>
        <p>I’m a Designer currently working at <a href="http://unifiedsocial.com" target="_blank">Unified Social</a> in NYC.</p>
        <div class="thing"></div>
      </div>

    </div>

  </div>

  <div class="work">

    <div class="row fullWidth">

      <div class="large-6 columns no-padding">
        <div id="work">
          <a href="#" data-path-hover="m 180,54.57627 -180,0 L 0,0 180,0 z">
            <figure>
              <img src="css/img/work-1.png" />
              <svg viewBox="0 0 1 340" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
              <figcaption>
                <h2>Crystalline</h2>
                <p>Soko radicchio bunya nuts gram dulse.</p>
                <button>View</button>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>

      <div class="large-6 columns no-padding">
        <div id="work">
          <a href="#" data-path-hover="m 180,54.57627 -180,0 L 0,0 180,0 z">
            <figure>
              <img src="css/img/work-2.png" />
              <svg viewBox="0 0 1 340" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
              <figcaption>
                <h2>Crystalline</h2>
                <p>Soko radicchio bunya nuts gram dulse.</p>
                <button>View</button>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>

    </div>


    <div class="row fullWidth">

      <div class="large-6 columns no-padding">
        <div id="work">
          <a href="#" data-path-hover="m 180,54.57627 -180,0 L 0,0 180,0 z">
            <figure>
              <img src="css/img/work-3.png" />
              <svg viewBox="0 0 1 340" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
              <figcaption>
                <h2>Crystalline</h2>
                <p>Soko radicchio bunya nuts gram dulse.</p>
                <button>View</button>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>

      <div class="large-6 columns no-padding">
        <div id="work">
          <a href="#" data-path-hover="m 180,54.57627 -180,0 L 0,0 180,0 z">
            <figure>
              <img src="css/img/work-4.png" />
              <svg viewBox="0 0 1 340" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
              <figcaption>
                <h2>Crystalline</h2>
                <p>Soko radicchio bunya nuts gram dulse.</p>
                <button>View</button>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>

    </div>

  </div>

  <div class="contact">

    

  </div>




  <script src="js/snap.svg-min.js"></script>

  <script>
    (function() {

      function init() {
        var speed = 250,
          easing = mina.easeinout;

        [].slice.call ( document.querySelectorAll( '#work > a' ) ).forEach( function( el ) {
          var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
            pathConfig = {
              from : path.attr( 'd' ),
              to : el.getAttribute( 'data-path-hover' )
            };

          el.addEventListener( 'mouseenter', function() {
            path.animate( { 'path' : pathConfig.to }, speed, easing );
          } );

          el.addEventListener( 'mouseleave', function() {
            path.animate( { 'path' : pathConfig.from }, speed, easing );
          } );
        } );
      }

      init();

    })();
  </script>
